/*************** MAIN ELEMENTS ***************/

:root {
    --banner-width: 150px;
}

body {
    margin: 0;
    padding: 0;
}

div {
    position: absolute;
}



#wrapper {
    display: block;
    top: 10%;
    left: calc(50% - var(--banner-width));
    width: 300px;
    height: 600px;
    background: #fff;
    overflow: hidden;
}

#wrect {
    width: inherit;
    height: inherit;
    background: #fff;
    pointer-events: none;
}

#border {
    border: 1px solid #9a9a9a;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: inherit;
    height: inherit;
    pointer-events: none;
}

#bgexit {
    width: inherit;
    height: inherit;
    cursor: pointer;
}


/******************** LOGO ********************/

#logo {
    cursor: pointer;
    width: 86px;
    height: 86px;
    top: 15px;
    left: 15px;
    background: url('logo.svg') center center no-repeat;
}


/******************** BUTTON ********************/

#cta {
    width: 147px;
    height: 39px;
    bottom: 15px;
    left: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 600;
    font-size: 17px;
    line-height: 100%;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 20px;
    background-color: #00bcf2;
    color: #fff;
}

/********************** TEXT **********************/

#textWrap {
    width: 271px;
    height: 250px;
    top: 112px;
    left: 15px;
    line-height: 110%;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 400;
    font-size: 28px;
    letter-spacing: -0.1px;
}

.frame {
    color: #ffffff;
}

/*.blue {*/
/*    color:#00bcf2;*/
/*}*/

/********************** IMAGE **********************/

#image {
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    background-image: url('img.jpg');
}

.img {
    width: inherit;
    height: inherit;
    top: 0;
    left: 0;

}

/********************** Animation of banner appearing **********************/

#wrapper {
    opacity: 0;
    transform: scale(0);
    animation-name: fade-in-scale;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes fade-in-scale {
    0% { opacity: 0; transform: scale(0); }
    50% { opacity: 1; transform: scale(1.2); }
    100% { opacity: 1; transform: scale(1); }
}

/********************** Animation of text   **********************/

#frame1 {
    opacity: 0;
    animation-name: text-animation;
    animation-duration: 12s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

#frame1 span.blue {
    color: #ffffff;
    animation-name: highlight-blue;
    animation-duration: 3s;
    animation-delay: 4.5s;
    animation-fill-mode: forwards;
}

@keyframes text-animation {
    0% { opacity: 0; transform: scale(0); }
    20% { opacity: 1; transform: scale(1); }
    90% { opacity: 1; transform: scale(1); }
    95% { opacity: 0.5; transform: scale(0.5); }
    100% { opacity: 0; transform: scale(0); }
}

@keyframes highlight-blue {
    0% { color: #ffffff;
         transform: scale(0);
    }
    90% {
        color: #00bcf2;
        transform: scale(5);
    }
    100% {
        color: #00bcf2;
        transform: scale(1.0);
    }
}

#frame2 {
    display: none;
}

#frame2 {
    opacity: 0;
    animation-name: text-animation2;
    animation-duration: 12s;
    animation-delay: 0.1s;
    animation-fill-mode: forwards;
}

#frame2 span.blue {
    color: #ffffff;
    animation-name: highlight-blue2;
    animation-duration: 3s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
}

@keyframes text-animation2 {
    0% { opacity: 0; transform: scale(0); }
    20% { opacity: 1; transform: scale(1); }
    100% { opacity: 1; transform: scale(1); }
}

@keyframes highlight-blue2 {
    0% { color: #ffffff;
        transform: scale(0);
    }
    90% {
        color: #00bcf2;
        transform: scale(5);
    }
    100% {
        color: #00bcf2;
        transform: scale(1.0);
    }
}


